<footer>
    <div class="f-container">
        <div class="f-copyright-privacy">
            <div class="f-copyright">© 2024 Airbnb, Inc.</div>
            <div class="f-terms-condition">
                <a href="">Privacy</a>
              &#183; <a href="">Terms</a>
              &#183; <a href="">Sitemap</a>
              &#183; <a href="">Company details</a>
            </div>
        </div>
        <div class="f-state-links">
            <div class="f-state-name"><i class="ri-global-line"></i> English (IN)</div>
            <div class="f-price-icon"><i class="ri-money-rupee-circle-line"></i> INR</div>
            <div class="f-social-media-icon">
                <i class="ri-facebook-box-fill"></i>
                <i class="ri-instagram-fill"></i>
                <i class="ri-twitter-fill"></i>
            </div>
        </div>
    </div>
</footer>