 * {
     Margin: 0;
     Padding: 0;
     Box-sizing: border-box;
 }


 body {
     font-family: "Plus Jakarta Sans", sans-serif;
     display: flex;
     flex-direction: column;
     min-height: 100vh;

 }

 .container {
     flex: 1;
 }

 /* navbar */
 .navbar {
     height: 5rem;
     background-color: #fff;
 }

 .nav-link {
     color: #222222 !important;
     /* background-color: #ececec; */
     /* padding: 0.5rem 1rem; */
 }

 .logo-image {
     width: 7.5rem;
     /* height: 5vw; */
 }

 .nav-link {
     color: #222222 !important;
 }


 /* footer */
 .f-container {
     height: 10vh;
     width: 90vw;
     margin: auto;
     display: flex;
     align-items: center;
     justify-content: space-between;
     /* background-color: #dedede65; */
     border-top: 1px solid rgba(210, 210, 210, 0.314);
 }

 .f-copyright-privacy {
     display: flex;
     align-items: center;
     gap: 10px;
     font-size: 1.1rem;
 }

 .f-terms-condition a {
     text-decoration: none;
     color: #000;
 }

 .f-state-links {
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 20px;
 }

 .f-state-name {
     font-weight: 600;
 }

 .f-price-icon i,
 .f-state-name i {
     color: #000;
     background-color: #fff;
     font-size: 1.3vw;
     text-align: center;
 }

 .f-social-media-icon {
     display: flex;
     gap: 15px;
     flex-direction: row;
     align-items: center;
 }

 .f-social-media-icon i {
     font-size: 1.5vw;

 }


 /* card style  */
 .listing-card {
     border: none !important;
     margin-bottom: 2rem;
 }

 .card-img-top {
     width: 100%;
     object-fit: cover;
     border-radius: 10px;
     height: 18rem;
 }

 .card-body {
     padding: 0;
 }

 .card a {
     text-decoration: none;
     color: #000;
 }

 .card-img-overlay {
     opacity: 0;
 }

 .card-img-overlay:hover {
     background-color: #fff;
     opacity: 0.2;
 }


 /* new form */
 .btn-red {
     background-color: #fe424d;
     color: #fff;
 }

 /* show form  */
 .show-img {
     height: 45vh;
     border-radius: 2rem;
 }

 .show-desc {
     margin-left: 1rem;
 }

 .btns {
     display: flex;
 }

 .delete-btn {
     color: #fff;
     background-color: #000;
 }


 /* error page */
 .error {
     width: 50%;
     margin: auto;
     display: flex;
     gap: 10px;
 }

 .error i {
     font-size: 20px;
 }

 /* Map  */
 #map {
    width: 110%;
    height: 60vh;
 }